{% extends 'paginator.html' %}
{% block previous_link %}
    ?page={{ page_obj.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}
{% endblock previous_link %}
{% block number_link_active %}
    ?page={{ i }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}
{% endblock number_link_active %}
{% block number_link %}
    ?page={{ i }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}
{% endblock number_link %}
{% block next_link %}
    ?page={{ page_obj.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}
{% endblock next_link %}